/* ------------------------- Lenis -------------------------------------------------- */

html.lenis {height: auto;}
.lenis.lenis-smooth {scroll-behavior: auto; height: 100vh;}
.lenis.lenis-smooth [data-lenis-prevent] {overscroll-behavior: contain;}
.lenis.lenis-stopped {overflow: hidden;}
.lenis.lenis-scrolling iframe {pointer-events: none;}

/* Hide scrollbar for Chrome, Safari and Opera */
[data-lenis-prevent]::-webkit-scrollbar {
   display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
[data-lenis-prevent] {
   -ms-overflow-style: none;  /* IE and Edge */
   scrollbar-width: none;  /* Firefox */
}

/* ------------------------- Variables -------------------------------------------------- */

:root {

   --color-dark-rgb: 50, 32, 24;
   --color-dark: rgba(var(--color-dark-rgb), 1);

   --color-light-rgb: 248, 249, 241;
   --color-light: rgba(var(--color-light-rgb), 1);

   --color-white-rgb: 248, 246, 244;
   --color-white: rgba(var(--color-white-rgb), 1);

   --color-black-rgb: 0, 0, 0;
   --color-black: rgba(var(--color-black-rgb), 1);

   --color-primary: #903C02;
   --color-secondary: #0A6365;
   --color-lightgray: #E0D9D1;

   --color-stone-50: var(--color-light);
   --color-stone-100: var(--color-lightgray);
   --color-stone-200: #CEC3B6;
   --color-stone-900: var(--color-dark);
   --color-butterflygreen-500: #2CA09E;
   --color-butterflygreen-700: var(--color-secondary);
   --color-butterflygreen-900: #00383C;
   --color-sunsetorange-800: var(--color-primary);
   --color-blur: rgba(210, 205, 200, 0.3);

   --color-border: rgba(var(--color-dark-rgb), 0.15);
   --color-border-light: rgba(var(--color-white-rgb), 0.175);
   --color-border-active: rgba(var(--color-dark-rgb), 0.25);
   --color-border-active-light: rgba(var(--color-white-rgb), 0.275);
   --color-text: rgba(var(--color-dark-rgb), 0.9);
   --color-text-light: rgba(var(--color-white-rgb), 0.9);

   --color-alert-error: #ff213e;
   --color-alert-success: #46d054;

   --color-blue: #0096f7;
   --color-blue-10: rgba(0, 150, 247, 0.1);
   --color-blue-20: rgba(0, 150, 247, 0.2);
   --color-blue-white-20: #33abf9;
   --color-blue-white-6: #0f9cf7;
   --color-blue-black-6: #008de8;
   --color-white-80: rgba(255, 255, 255, 0.8);
   --color-white-60: rgba(255, 255, 255, 0.6);
   --color-white-40: rgba(255, 255, 255, 0.4);
   --color-black-80: rgba(0, 0, 0, 0.8);
   --color-black-60: rgba(0, 0, 0, 0.6);
   --color-black-40: rgba(0, 0, 0, 0.4);
   --color-black-20: rgba(0, 0, 0, 0.2);
   --color-black-12: rgba(0, 0, 0, 0.12);
   --color-black-10: rgba(0, 0, 0, 0.1);
   --color-black-6: rgba(0, 0, 0, 0.06);
   --color-black-4: rgba(0, 0, 0, 0.04);
   --color-black-2: rgba(0, 0, 0, 0.02);
   --color-biege: #fdfdf7;
   --color-biege-darker: #f7f7f0;
   --color-bone-white: #f6f7f5;
   --color-driftwood: #dadad9;
   --color-parchment: #d7d5cb;
   --color-evergreen: #375033;
   --color-dark-bronze: #2e2e2c;
   --color-metallic-silver: #dadad9;
   --color-red: #ff4000;
   --color-orange: #ffbd00;
   --color-green: #219c46;

   --animation-fast: .4s cubic-bezier(.3, 1, .3, 1);
   --animation-primary: .6s cubic-bezier(.3, 1, .3, 1);
   --animation-smooth: .8s cubic-bezier(.3, 1, .3, 1);
   --animation-slow: .8s cubic-bezier(.6, 0, .2, 1);
   --animation-slider: 1.2s cubic-bezier(.6, 0, .2, 1);
   --animation-nav: .4s cubic-bezier(.3, 0, .3, 1);
   --animation-nav-smooth: .6s cubic-bezier(.3, 0, .3, 1);

   --gap: calc(var(--title-size) * 0.3);

   --section-padding: calc(var(--title-size) * 1.2);
   --container-padding: calc(var(--gap) * 1.5);

   --title-size: clamp(5em, 7.5vw, 7.5em);

   --copy-size-l: 0.9em;
   --copy-size-m: 0.8em;
   --copy-size-s: 0.725em;

   --border-radius: 100em;

   --btn-height: 3em;
   --btn-height-small: 2.625em;
   --btn-shadow-distance: 1.25em;
   --nav-bar-height: calc(var(--btn-height) + (var(--gap) * 2));
   --nav-bar-height-mobile: calc(var(--btn-height) + (var(--gap) * 0.6));
   --card-width: calc(var(--title-size) * 2.25);

   
}
.color-blue {
   color: var(--color-blue)
}

.color-text-100 {
   color: #000
}

.color-text-80 {
   color: var(--color-black-80)
}

.color-text-60 {
   color: var(--color-black-60)
}

.color-text-40 {
   color: var(--color-black-40)
}

.color-white-80 {
   color: var(--color-white-80)
}

.color-white-60 {
   color: var(--color-white-60)
}

.color-white-40 {
   color: var(--color-white-40)
}

button {
   appearance: none;
   cursor: pointer;
   margin: 0;
   outline: 0;
   border: none;
   background: 0 0;
   padding: 0;
   user-select: none;
   -webkit-user-select: none
}

.button-rounded {
   display: inline;
   border: 1px solid transparent;
   border-radius: 24px!important;
   padding: 11px 18px 13px!important;
   font-size: 14px!important;
   font-family: regola-book,sans-serif!important
}

[data-theme-section="dark"] {
   --color-border: rgba(var(--color-light-rgb), 0.15);
   --color-text: rgba(var(--color-white-rgb), 0.9);
}

@media screen and (max-width: 1024px) {
   :root {
      --container-padding: var(--gap);
   }
}

@media screen and (max-width: 540px) {
   :root {
      --container-padding: clamp(1.25em, 4vw, 2.5em);
      --card-width: calc(var(--title-size) * 1.75);
   }
}

/* ------------------------- Hide Scrollbar -------------------------------------------------- */

body::-webkit-scrollbar{display: none;} /* Chrome, Safari, Opera */
body {-ms-overflow-style: none;} /* IE & Edge */
html {scrollbar-width: none;} /* Firefox */

/* ------------------------- Body -------------------------------------------------- */

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
li, ul, figure { padding: 0; margin: 0; list-style: none;}

html {
   scroll-behavior: initial;
}

body {
   margin: 0;
   padding: 0;
   -webkit-font-smoothing: antialiased;
   font-family: 'Regola', sans-serif;
   color: var(--color-text);
   line-height: 1.2;
   font-weight: 300;
   font-style: normal;
   font-size: 16px;
   font-size: clamp(16px, 1.2vw, 19px);
   background-color: var(--color-light);
   overscroll-behavior-y: none;
}

html, body {
   width: 100%;
   min-height: 100%;
   -webkit-font-smoothing: antialiased;
   position: relative;
}

main {
   overflow: hidden;
   box-sizing: border-box;
}

.main-wrap {
   will-change: transform;
   box-sizing: border-box;
}

/* Selection */
::selection {
   background-color: var(--color-blue);
   color: var(--color-light);
   text-shadow: none;
}

::-moz-selection {
   background-color: var(--color-blue);
   color: var(--color-light);
   text-shadow: none;
}

/* General */
canvas, img, video, picture, figure {
   max-width: 100%;
   height: auto;
   box-sizing: border-box;
   display: block;
}

svg {
   max-width: none;
   height: auto;
   box-sizing: border-box;
}

audio, canvas, iframe, img, svg, video, picture, figure {
   vertical-align: middle;
}

video {
   pointer-events: none;
   user-select: none;
}

/* ------------------------- Typography -------------------------------------------------- */

h1, h2, h3, h4, h5, h6, p, a, li, ul, ol, span, strong, em, figcaption  {padding: 0; margin: 0;}


h1, h2, h3, h4, h5, h6 {
   font-family: regola-light,sans-serif!important;
   font-weight: 400;
line-height: 1;
   color: black;
}

h1,
h2.big {

   font-size: calc(var(--title-size) * 0.775);

}

h2 {

   font-size: calc(var(--title-size) * 0.55);

}

h3 {

   font-size: calc(var(--title-size) * 0.4);

}

h3.small {
   font-size: calc(var(--title-size) * 0.325);
}

h4 {

   font-size: calc(var(--title-size) * 0.275);
 
}

h5 {

   font-size: calc(var(--title-size) * 0.2);
   line-height: 1;

}

[data-theme-section="dark"] :is(h1, h2, h3, h4, h5) {
   color: var(--color-white);
}


@media screen and (max-width: 540px) {
   h1 {
      font-size: calc(var(--title-size) * 0.6);
   }

   h2 {
      font-size: calc(var(--title-size) * 0.475);
   }
}

p {
   font-size: 15px;
   line-height: 140%;
   font-family: regola-book,sans-serif;
}

p.medium,
span.medium {
   font-size: var(--copy-size-m);
}

p.small,
span.small {
   font-size: var(--copy-size-s);
}

p.inactive,
span.inactive {
   opacity: 0.6;
}

strong {
   font-weight: 400;
   color: var(--color-dark);
}

[data-theme-section="dark"] strong {
   color: var(--color-light);
}

em {
   font-style: italic;
}

a {
   color: unset;
   text-decoration: none;
}

.eyebrow {
   display: block;
   text-transform: uppercase;
   letter-spacing: calc(0.75em * 0.12);
   font-size: 0.725em;
   line-height: 1;
   color: var(--color-green);
   font-weight: 400;
}

.eyebrow.small {
   letter-spacing: calc(0.65em * 0.12);
   font-size: 0.65em;
}

.eyebrow.tiny {
   letter-spacing: calc(0.575em * 0.12);
   font-size: 0.575em;
}

[data-theme-section="dark"] .eyebrow {
   color: rgba(var(--color-white-rgb), 0.7);
}

.eyebrow.primary {
   color: var(--color-primary);
}

.eyebrow.secondary {
   color: var(--color-secondary);
}

