/* ------------------------- Reusable Components -------------------------------------------------- */
/* ------------------------- Buttons -------------------------------------------------- */

.col-row-btn {
   display: flex;
   gap: 0.5em;
   flex-direction: row;
}

.btn {
   position: relative;
   border: 0;
   outline: 0;
}

.btn input {
   cursor: pointer;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 0;
}

.btn .btn-click {
   cursor: pointer;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   box-sizing: border-box;
   box-shadow: 0 0.5px 2px 0 rgba(0,0,0,.12);
   border-radius: 12px;
   background: #0096f7;
   padding: 14px;
   
   color: white;
}
.btn .btn-click-grey {
   cursor: pointer;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   box-sizing: border-box;
   box-shadow: 0 0.5px 2px 0 rgba(0,0,0,.12);
   border-radius: 12px;
   background: var(--color-black-4);
   padding: 14px;
   
   color: var(--color-blue);
}


.btn .btn-content {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 calc(var(--copy-size-m) * 1.33);
   gap: calc(var(--copy-size-m) * 1);
   width: 100%;
   overflow: hidden;
}

.btn .btn-content svg {
   width: calc(var(--copy-size-m) * 1.2);
   display: block;
   flex-shrink: 0;
   transform: rotate(0.001deg);
   transition: transform var(--animation-smooth);
}

.btn .btn-content svg > * {
   fill: var(--color-stone-200);
}

.btn .btn-content span {
   font-size: var(--copy-size-m);
   color: var(--color-white);
   font-weight: 400;
   text-align: center;
   width: 100%;
   padding: 0 calc(var(--copy-size-m) * 0.75);
   margin-top: -0.05em;
   white-space: nowrap;
   text-shadow: 0px calc(var(--btn-shadow-distance) * 1.5) transparent;
   transform: translateY(0em) rotate(0.001deg);
   transition: text-shadow var(--animation-smooth);
   line-height: 1.1;
}

.btn .btn-content-blue span {
   font-size: var(--copy-size-m);
   color: var(--color-blue);
   font-weight: 400;
   text-align: center;
   width: 100%;
   padding: 0 calc(var(--copy-size-m) * 0.75);

   white-space: nowrap;
   text-shadow: 0px calc(var(--btn-shadow-distance) * 1.5) transparent;
   transform: translateY(0em) rotate(0.001deg);
   transition: text-shadow var(--animation-smooth);
   line-height: 1.1;
}

@media (hover: hover) {
   @media screen and (min-width: 1025px) {

      .btn .btn-click:hover svg:nth-of-type(1) {
         transform: rotate(90deg);
      }

      .btn .btn-click:hover svg:nth-of-type(2) {
         transform: rotate(-90deg);
      }

      .btn .btn-click:hover .btn-content span {
         transition: all var(--animation-smooth);
         transform: translateY(calc(var(--btn-shadow-distance) * -1)) rotate(0.001deg);
         color: transparent;
         text-shadow: 0px var(--btn-shadow-distance) var(--color-white);
      }

      /* Grey button hover - specific selector */
      a.btn-click-grey:hover .btn-content-blue span {
         transition: all var(--animation-smooth);
         transform: translateY(calc(var(--btn-shadow-distance) * -1)) rotate(0.001deg);
         color: transparent;
         text-shadow: 0px var(--btn-shadow-distance) var(--color-blue);
      }
   }
}

/* Small */

.btn.small .btn-click {
   height: var(--btn-height-small);
}

.btn.small .btn-content span {
   padding: 0 calc(var(--copy-size-m) * 0.35);
}

.btn.small .btn-content span {
   margin-top: 0;
}

/* Tiny */

.btn.tiny .btn-click {
   height: 2em;
}

.btn.tiny .btn-content span {
   padding: 0 calc(var(--copy-size-s) * 0.35);
}

.btn.tiny .btn-content span {
   margin-top: 0;
   font-size: var(--copy-size-s);
}

/* When icon */

.btn .btn-content svg + span,
.btn.small .btn-content svg + span {
   padding: 0;
}

/* Secondary */

.btn.secondary .btn-click {
   background-color: var(--color-butterflygreen-900);
}

.btn.secondary .btn-content svg > *  {
   fill: var(--color-butterflygreen-500);
}

/* Blur */

.btn.blur .btn-click {
   background-color: rgba(248, 246, 244, 0.2);
   backdrop-filter: blur(16px);
   -webkit-backdrop-filter: blur(16px);
   isolation: isolate;
   will-change: backdrop-filter;
}

.btn.blur .btn-content svg > *  {
   fill: var(--color-white);
}

/* Outline */

.btn.outline .btn-click {
   background-color: transparent;
}

.btn.outline .btn-click::before {
   content:"";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border-radius: var(--border-radius);
   border: 1px solid var(--color-border);
}

.btn.outline .btn-content svg > *  {
   fill: rgba(var(--color-dark-rgb), 0.5);
}

@media (hover: hover) { 
   @media screen and (min-width: 1025px) {

      .btn.outline .btn-click:hover span {
         text-shadow: 0px var(--btn-shadow-distance) var(--color-dark);
      }
   }
}

.btn.outline .btn-content span {
   color: var(--color-dark);
}

/* ------------------------- Links -------------------------------------------------- */

.link {
   position: relative;
   display: flex;
}

.link .link-click {
   position: relative;
   padding: 0.25em 0;
   display: flex;
   overflow: hidden;
   cursor: pointer;
}

.link .link-click::before {
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 1px;
   background-color: var(--color-border-active);
   transform: scaleX(0) rotate(0.001deg);
   transform-origin: right center;
   transition: transform var(--animation-primary), background-color var(--animation-primary), opacity var(--animation-primary) 0.05s;
   opacity: 1;
}

.link .link-click span {
   font-size: var(--copy-size-m);
   display: flex;
   line-height: 1;
   white-space: nowrap;
}

@media (hover: hover) { 
   @media screen and (min-width: 1025px) {

      .link .link-click:hover::before {
         transform-origin: left center;
         transform: scaleX(1) rotate(0.001deg);
         opacity: 1;
      }

   }
}

/* Small */

.link.small .link-click span {
   font-size: var(--copy-size-s);
}

/* Inactive */

.link.inactive .link-click span {
   opacity: 0.6;
}

/* ------------------------- Icon Link -------------------------------------------------- */

.icon-link {
   position: relative;
   display: flex;
}

.icon-link .icon-link-click {
   cursor: pointer;
   background-color: transparent;
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
}

.icon-link .icon-link-content {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: calc(var(--copy-size-m) * 0.6);
   width: 100%;
   overflow: hidden;
}

.icon-link .dots {
   width: 14px;
   height: auto;
   flex-shrink: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   align-self: center;
}

.icon-link .dots .dot {
   width: 3px;
   height: 3px;
   background-color: rgba(var(--color-dark-rgb), 0.8);
   border-radius: 50%;
}

.icon-link .icon-link-content svg {
   width: calc(var(--copy-size-m) * 1.2);
   display: block;
   flex-shrink: 0;
   transform: rotate(0.001deg);
   transition: transform var(--animation-smooth);
}

.icon-link .icon-link-content svg > *  {
   fill: var(--color-primary);
}

.icon-link .icon-link-content span {
   font-size: var(--copy-size-m);
   color: var(--color-primary);
   font-weight: 400;
   text-align: center;
   width: 100%;
   white-space: nowrap;
   text-shadow: 0px calc(var(--btn-shadow-distance) * 1.5) transparent;
   transform: translateY(0em) rotate(0.001deg);
   transition: text-shadow var(--animation-smooth);
   line-height: 1.1;
}

@media (hover: hover) { 
   @media screen and (min-width: 1025px) {

      .icon-link .icon-link-click:hover .icon-link-content span {
         transition: all var(--animation-smooth);
         transform: translateY(calc(var(--btn-shadow-distance) * -1)) rotate(0.001deg);
         color: transparent;
         text-shadow: 0px var(--btn-shadow-distance) var(--color-primary);
      }
   }
}

/* Built */

.icon-link.built-in .icon-link-content span {
   color: var(--color-dark);
   font-size: var(--copy-size-s);
}

@media (hover: hover) { 
   @media screen and (min-width: 1025px) {

      .icon-link.built-in  .icon-link-click:hover .icon-link-content span {
         text-shadow: 0px var(--btn-shadow-distance) var(--color-dark);
      }
   }
}

/* Whatsapp */

.icon-link.whatsapp .icon-link-click {
   height: var(--btn-height);
   background-color: var(--color-primary);
   border-radius: var(--border-radius);
}

.icon-link.whatsapp .icon-link-content {
   padding: 0 calc(var(--copy-size-m) * 1.33) 0 calc(var(--copy-size-m) * 1.8);
   gap: calc(var(--copy-size-m) * 0.75);
}

.icon-link.whatsapp .icon-link-content span {
   color: var(--color-white);
}

.icon-link.whatsapp .icon-link-content svg {
   width: calc(var(--copy-size-m) * 1.4);
}

.icon-link.whatsapp .icon-link-content svg path {
   fill: var(--color-lightgray);
}

@media (hover: hover) { 
   @media screen and (min-width: 1025px) {

      .icon-link.whatsapp  .icon-link-click:hover .icon-link-content span {
         text-shadow: 0px var(--btn-shadow-distance) var(--color-white);
      }
   }
}

/* ------------------------- Icon -------------------------------------------------- */

i {
   width: 1em;
   height: 1em;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
}

i svg {
   width: 100%;
}

i svg :is(path, line, polyline) {
   stroke: var(--color-dark);
   stroke-width: 2px;
}

/* ------------------------- Styled Content -------------------------------------------------- */

.styled-content :is(h1, h2, h3, p, figure) {
   margin-bottom: 1.25rem;
}

.styled-content > *:last-child {
   margin-bottom: 0;
}

.styled-content h1 {
   margin-top: 2rem;
}

.styled-content :is(h1, h2, h3, p):last-child {
   margin-bottom: 0;
}

.styled-content p > a {
   color: var(--color-dark);
   text-decoration: underline;
   transition: var(--animation-primary);
}

.styled-content p > a:hover {
   opacity: 0.5;
}

.styled-content  p + ul {
   margin-top: calc(-1.25rem);
}

.styled-content ul {
   font-size: var(--copy-size-l);
   display: flex;
   flex-direction: column;
   margin-bottom: 1.25rem;
   align-items: center;
}

.styled-content ul li {
   position: relative;
   padding-left: 0.75em;
   line-height: 1.5;
}

.styled-content ul li::before {
   content: "";
   left: 0;
   top: 0.6rem;
   height: 3px;
   width: 3px;
   background: var(--color-dark);
   position: absolute;
   border-radius: 2px;
}

/* ------------------------- Styled Figure -------------------------------------------------- */

.styled-figure {
   display: flex;
   flex-direction: column;
   gap: 0.5em;
   position: relative;
}

.styled-figure.default {
   width: 100%;
   overflow: hidden;
}

.styled-figure.default::before {
   content: "";
   padding-top: 133.333%;
   display: block;
}

.styled-figure.default.landscape::before {
   content: "";
   padding-top: 66.666%;
   display: block;
}

.styled-figure figcaption {
   font-weight: 300;
   font-style: normal;
   font-size: 0.8em;
   line-height: 1.3;
   color: var(--color-text);
}

/* ------------------------- Styled Image / Video -------------------------------------------------- */

.styled-image,
.styled-video {
   display: flex;
   flex-direction: column;
   position: relative;
}

.styled-image[data-ratio-status="true"] img,
.styled-video[data-ratio-status="true"] video {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   object-fit: cover;
}

.styled-image.overlay,
.styled-video.overlay {
   object-fit: cover;
}

/* ------------------------- Styled Form -------------------------------------------------- */

.styled-form {
   display: flex;
   flex-direction: column;
   width: 100%;
}

.styled-form .form-col {
   width: 100%;
   padding-bottom: 1em;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.styled-form .form-label {
   margin-bottom: 0.5em; 
}

.styled-form .form-label span {
   font-size: 0.8em;
   text-transform: uppercase;
   font-weight: 500;
}

.styled-form abbr[title] {
   color: var(--color-alert-error);
   text-decoration: none;
   padding-left: 0.25em;
}

.styled-form input {
   display: block;
}

/* Text */

.styled-form input:is([type="text"], [type="email"], [type="tel"]) {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   outline: none;
   border: 0;
   border-bottom: 1px solid transparent;
   padding: 1em 1em;
   width: 100%;
   border-radius: var(--border-radius);
}

/* Textarea */

.styled-form textarea {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   outline: none;
   border: 0;
   border-bottom: 1px solid transparent;
   resize: vertical;
   min-height: 10em;
   padding: 1em 1em;
   width: 100%;
   border-radius: var(--border-radius);
}

/* Checkbox */

.styled-form .form-col-checkbox {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
}

.styled-form input[type="checkbox"] {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   outline: none;
   border: 0;
   width: 1em;
   height: 1em;
   border: 1px solid var(--color-border);
   transition: background-color .3s ease-in-out;
   background-color: var(--color-light);
   margin-right: 0.5em;
   border-radius: calc(var(--border-radius) * 0.33);
}

.styled-form input[type="checkbox"]:focus {
   border-radius: calc(var(--border-radius) * 0.33);  
}

.styled-form input[type="checkbox"]:checked {
   background: var(--color-light) url("/assets/icons/check.svg") center center no-repeat;
   background-size: 100%;
}

.styled-form .form-col-checkbox label {
   font-weight: 300;
   font-size: 0.8em;
}

/* Error */

.styled-form :is(input, textarea).has-error {
   border-bottom: 1px solid var(--color-alert-error);
}

.styled-form input[type="checkbox"].has-error{
   border: 1px solid var(--color-alert-error);
}

.styled-form .has-error + .form-error-message {
   display: flex;
}

.form-error-message {
   width: 100%;
   display: none;
   color: var(--color-alert-error);
   font-size: 0.8em;
   font-weight: 500;
}

/* Focus */

.styled-form :is(input, textarea):focus {
   outline: 0;
   outline-width: 1px !important;
   outline-offset: 0px;
   border-bottom: 1px solid var(--color-dark);
}

.styled-form input[type="checkbox"]:focus {
   border: 1px solid var(--color-dark);
}

/* Submit */

.styled-form input[type="submit"] {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   outline: none;
   border: 0;
   padding: 1em;
   background: var(--color-primary);
   color: var(--color-light);
   cursor: pointer;
   border-radius: var(--border-radius);
}

/* Autofill */

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
   -webkit-text-fill-color: #000;
   -webkit-box-shadow: 0 0 0px 1000px #fff inset;
   box-shadow: 0 0 0px 1000px #fff inset;
   transition: background-color 5000s ease-in-out 0s;
}

/* ------------------------- Ornament -------------------------------------------------- */

.ornament {
   width: calc(var(--title-size) * 0.35);
   height: calc(var(--title-size) * 0.35);
   display: flex;
   align-items: center;
   justify-content: center;
   flex-shrink: 0;
}

.ornament svg {
   width: 100%;
}

.ornament svg > * {
   fill: var(--color-stone-200);
}

/* Transparent */

.ornament.transparent svg > * {
   fill: rgba(var(--color-white-rgb), 0.6);
}

/* Transparent - Dark */

.ornament.transparent.dark svg > * {
   fill: rgba(var(--color-dark-rgb), 0.2);
}

/* White */

.ornament.white svg > * {
   fill: var(--color-white);
}

/* ------------------------- Border Top Ornament -------------------------------------------------- */

.border-top-ornament {
   top: 0;
   position: absolute;
   width: 100%;
   transform: translateY(-50%);
   display: flex;
   justify-content: center;
   align-items: center;
   gap: calc(var(--gap) * 0.5);
}

.border-top-ornament::before,
.border-top-ornament::after {
   content: "";
   display: block;
   width: 100%;
   height: 1px;
   background-color: var(--color-border);
}

