/* ------------------------- Layout (Header, Footer, Navigation) -------------------------------------------------- */
/* ------------------------- Custom Cursor V1 -------------------------------------------------- */

.custom-cursor {
   position: fixed;
   z-index: 100;
   pointer-events: none;
   transform: translate(-48%, -75%) rotate(0.001deg);
   display: none;
   opacity: 0;
   visibility: hidden;
   display: flex;
   pointer-events: none;
}

.custom-cursor .cursor-bubble {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%) scale(0) rotate(-10deg);
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
   border-radius: calc(var(--btn-height) * 0.75);
   width: calc(var(--btn-height) * 1.5);
   background-color: rgba(var(--color-white-rgb), 0.2);
   background-color: var(--color-blur);
   backdrop-filter: blur(1em);
   -webkit-backdrop-filter: blur(1em);
   transition: transform var(--animation-nav) 0.2s;
}

.custom-cursor .cursor-bubble[data-cursor-bubble="active"] {
   transform: translate(-48%, -65%) scale(1) rotate(0.001deg);
   transition: transform var(--animation-primary) 0s;
}

.custom-cursor .cursor-bubble .cursor-before {
   position: relative;
   width: 100%;
   padding-top: 100%;
}

.custom-cursor .cursor-bubble .cursor-text {
   white-space: nowrap;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: var(--color-white);
   font-weight: 300;
   font-size: var(--copy-size-m);
   padding: 0.5em;
   opacity: 0;
   transition: opacity var(--animation-nav) 0.2s;
}

.custom-cursor .cursor-bubble[data-cursor-bubble="active"] .cursor-text {
   opacity: 1;
   transition: opacity var(--animation-nav) 0s;
}

@media (hover: hover) { 
   @media screen and (min-width: 1025px) {
      .custom-cursor[data-cursor-init="true"] {
         display: flex;
         opacity: 1;
         visibility: visible;
      }
   }
}/* ------------------------- Style ® Code by Dennis -------------------------------------------------- */

/* ------------------------- Loading -------------------------------------------------- */

.loading-container {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   overflow: hidden;
   z-index: 500;
   pointer-events: none;
}

.loading-container .loading-screen {
   position: relative;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--color-light);
}

.loading-logo {
   width: 7em;
   display: flex;
   flex-direction: column;
   align-items: center;
   position: absolute;
   top: 50%;
   transform: translateY(0%) rotate(0.001deg);
}

.loading-logo > * {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   overflow: hidden;
   position: relative;
   transform: translateY(0%) rotate(0.001deg);
}

.loading-logo .iconmark {
   width: 45%;
}

.loading-logo svg {
   width: 100%;
}

/* ------------------------- Page Transition -------------------------------------------------- */

.transition-screen {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: var(--color-light);
   display: flex;
   justify-content: center;
   align-items: center;
   opacity: 0;
   visibility: hidden;
   padding-top: calc(var(--nav-bar-height) - var(--gap));
   background: var(--color-light);
}

.loading-circle {
   position: absolute;
   /* top: 50%;
   left: 50%;
   transform: translate(-50%, -50%); */
   left: 50%;
   transform: translateX(-50%);
   bottom: var(--gap);
   width: calc(var(--title-size) * 0.25);
   display: flex;
   align-items: center;
   justify-content: center;
}

.loading-circle svg {
   width: 100%;
}

.loading-circle svg circle {
   stroke: var(--color-primary);
   stroke: rgba(var(--color-dark-rgb), 0.4);
   opacity: 0;
   stroke-width: 2px;
}


/* ------------------------- Navigation -------------------------------------------------- */

.main-nav-bar {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   padding: calc(var(--gap) * 0.5) var(--container-padding);
   pointer-events: all;
   display: flex;
   align-items: center;
   transition: padding var(--animation-nav);
}

.main-nav-bar .border-bottom {
   transform: translateY(1px);
   overflow: visible;
   transition: background-color var(--animation-nav);
}

.main-nav-bar .overlay-background {
   background-color: transparent;
   transition: background-color var(--animation-nav-smooth);
}

.main-nav-bar .overlay-alt-background {
   pointer-events: none;
   background-color: transparent;
   transition: background-color var(--animation-nav-smooth);
}

main {
   transition: background-color var(--animation-nav-smooth);
}

.main-nav-bar nav {
   display: flex;
   align-items: center;
   gap: calc(var(--copy-size-m) * 1.5);
}

.main-nav-bar .row {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: calc(var(--gap) * 0.6) 0;
}

/* ------------------------- Cheeseburger -------------------------------------------------- */

.main-nav-bar nav .deco-line {
   width: 1px;
   height: calc(var(--copy-size-m) * 1.2);
   display: block;
   background-color: var(--color-border-active);
   transition: background-color var(--animation-nav);;
}

.cheeseburger {
   width: calc((var(--copy-size-m) * 3) + 1em);
   height: var(--btn-height-small);
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   cursor: pointer;
   margin-left: calc(var(--copy-size-m) * -1.5);
}

.cheeseburger-inner {
   width: 1.5em;
   height: 1.5em;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   overflow: hidden;
}

.cheeseburger .bar {
   position: absolute;
   width: 1em;
   height: 1px;
   background-color: var(--color-dark);
   transition: transform var(--animation-smooth), background-color var(--animation-nav);
   transform: translate(0%, 0em) rotate(0.001deg);
}

.cheeseburger .bar::before {
   content: "";
   position: absolute;
   left: 0;
   width: 100%;
   height: 100%;
   top: 0;
   background-color: var(--color-dark);
   transform: translateX(-150%);
}

.cheeseburger .bar:nth-child(3)::before {
   transform: translateX(-300%);
}

.cheeseburger .bar:nth-child(1) {
   transform: translate(0%, -0.25em) rotate(0.001deg);
   transition-delay: 0s;
}

.cheeseburger .bar:nth-child(3) {
   transform: translate(-50%, 0.25em) rotate(0.001deg);
   width: 0.5em;
}

.main-nav-bar:hover .cheeseburger .bar {
   transition-delay: 0.05s;
}
.main-nav-bar:hover .bar:nth-child(3) {
   transition-delay: 0.1s;
}

@media (hover: hover) { 
   @media screen and (min-width: 1025px) {

      .cheeseburger:hover .bar:nth-child(1) {
         transform: translate(150%, -0.25em) rotate(0.001deg);
      }

      .cheeseburger:hover .bar:nth-child(2) {
         transform: translate(150%, 0em) rotate(0.001deg);
      }

      .cheeseburger:hover .bar:nth-child(3) {
         transform: translate(250%, 0.25em) rotate(0.001deg);
      }

   }
}

/* ------------------------- Button -------------------------------------------------- */

@media screen and (min-width: 1025px) {
   .main-nav-bar .btn-nav .text-mobile {
      display: none;
   }
}

@media screen and (max-width: 1024px) {
   .main-nav-bar .btn-nav .text-desktop {
      display: none;
   }

   .main-nav-bar nav .cheeseburger,
   .main-nav-bar .btn-nav {
      transform: translateY(0.25em);
   }

   .main-nav-bar .btn-nav .btn-click {
      height: 2em;
   }

   .main-nav-bar .btn-nav span {
      padding: 0;
   }
}


/* ------------------------- Close -------------------------------------------------- */

.close {
   width: calc((var(--copy-size-m) * 3) + 1em);
   height: var(--btn-height-small);
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   cursor: pointer;
   margin-left: calc(var(--copy-size-m) * -1.5);
   position: absolute;
   top: calc(var(--gap) * 1.1);
   left: var(--container-padding);
}

.close-inner {
   width: 1.1em;
   height: 1.1em;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   transform: rotate(-45deg);
   overflow: hidden;
}

.close .bar {
   position: absolute;
   width: 1.1em;
   height: 1px;
   background-color: var(--color-dark);
   transition: transform var(--animation-smooth);
   transform: rotate(0.001deg) translateX(0%);
}

.close .bar::before {
   content: "";
   position: absolute;
   left: 0;
   width: 100%;
   height: 100%;
   top: 0;
   background-color: var(--color-dark);
   transform: translateX(-250%);
}

.close .bar:nth-child(1) {
   transform: rotate(90deg) translateX(0%);
   transition-delay: 0.1s;
}

@media (hover: hover) { 
   @media screen and (min-width: 1025px) { 

      .close:hover .bar:nth-child(1) {
         transform: rotate(90deg) translateX(250%);
      }

      .close:hover .bar:nth-child(2) {
         transform: rotate(0.001deg) translateX(250%);
      }
   }
}

/* ------------------------- Main Navigation Bar -------------------------------------------------- */

.main-nav-bar ul {
   display: flex;
   flex-direction: row;
   position: relative;
}

.main-nav-bar .nav-link {
   display: flex;
   transition: all var(--animation-nav) 0.1s;
}

.main-nav-bar .nav-link .nav-link-click {
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: var(--btn-height-small);
   position: relative;
   cursor: pointer;
}

.main-nav-bar .nav-link .nav-link-click::before {
   content:"";
   position: absolute;
   top: 95%;
   left: 50%;
   transform: translate(-50%, 100%) rotate(0.001deg);
   opacity: 0;
   width: 4px;
   height: 4px;
   background-color: rgba(var(--color-dark-rgb), 0.8);
   border-radius: 50%;
   transition: transform var(--animation-primary), opacity var(--animation-primary), background-color var(--animation-nav);
   pointer-events: none;
}

.main-nav-bar .nav-link .nav-link-content {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
}

.main-nav-bar .nav-link .nav-link-click span {
   font-size: var(--copy-size-m);
   font-weight: 400;
   color: var(--color-dark);
   padding: 0 calc(var(--copy-size-m) * 1.5);
   margin-top: 0.05em;
   white-space: nowrap;
   text-shadow: 0px calc(var(--btn-shadow-distance) * 1.5) transparent;
   transform: translateY(0em) rotate(0.001deg);
   transition: text-shadow var(--animation-smooth), color var(--animation-nav);
   line-height: 1.1;
}

.main-nav-bar:hover .nav-link .nav-link-click span {
   transition: text-shadow var(--animation-smooth), color 0s linear;
}

[data-links-no-hover="active"] .main-nav-bar:hover .nav-link .nav-link-click span {
   transition: text-shadow var(--animation-smooth), color var(--animation-nav);
}

@media (hover: hover) { 
   @media screen and (min-width: 1025px) {

      .main-nav-bar .nav-link .nav-link-click:hover span {
         transition: all var(--animation-smooth);
         transform: translateY(calc(var(--btn-shadow-distance) * -1)) rotate(0.001deg);
         color: transparent;
         text-shadow: 0px var(--btn-shadow-distance) var(--color-dark);
      }
   }
}

.main-nav-bar .nav-link[data-link-status="active"] .nav-link-click::before {
   transform: translate(-50%, -50%) rotate(0.001deg);
   opacity: 1;
}

@media (hover: hover) { 
   @media screen and (min-width: 1025px) {


      .main-nav-bar .nav-link-ul:hover .nav-link .nav-link-click::before {
         transform: translate(-50%, 100%) rotate(0.001deg);
         opacity: 0;
      }

      .main-nav-bar .nav-link-ul .nav-link .nav-link-click:hover::before {
         transform: translate(-50%, -50%) rotate(0.001deg);
         opacity: 1;
      }

   }
}

/* Nav Link Dropdown */

.main-nav-bar ul .nav-link-absolute  {
   position: absolute;
   left: 0;
   opacity: 0;
   visibility: hidden;
}

.main-nav-bar ul .nav-link-absolute .nav-link-click::before {
   content: none;
}

.main-nav-bar .nav-link-absolute .nav-link-content {
   gap: calc(var(--copy-size-m) * 0.6);
}

.main-nav-bar .nav-link-absolute .nav-link-content span {
   padding-right: 0;
}

.main-nav-bar .nav-link .dots {
   width: 14px;
   height: auto;
   flex-shrink: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   align-self: center;
}

.main-nav-bar .nav-link .dots .dot {
   width: 3px;
   height: 3px;
   background-color: rgba(var(--color-dark-rgb), 0.8);
   border-radius: 50%;
   transition: background-color var(--animation-nav);
}

.main-nav-bar ul[data-link-status="dropdown-stay-active"] .nav-link-absolute-stay,
.main-nav-bar ul[data-link-status="dropdown-discover-active"] .nav-link-absolute-discover {
   opacity: 1;
   visibility: visible;
}

.main-nav-bar ul[data-link-status="dropdown-stay-active"] .nav-link-relative,
.main-nav-bar ul[data-link-status="dropdown-discover-active"] .nav-link-relative {
   opacity: 0;
   visibility: hidden;
}

@media (hover: hover) { 
   @media screen and (min-width: 1025px) {

      .main-nav-bar ul .icon-link-stay .icon-link-click .icon-link-content span {
         text-shadow: 0px var(--btn-shadow-distance) var(--color-white);
      }
   }
}

/* Nav Link Dropdown - Dropdown*/

.main-nav-bar .nav-link .nav-link-dropdown {
   position: absolute;
   top: 100%;
   left: 0;
   display: flex;
   opacity: 0;
   visibility: hidden;
   transform: translateY(0.5em) rotate(0.001deg);
   transition: all var(--animation-primary);
   padding-top: 0.5em;
}

[data-page-transition="active"] .main-nav-bar .nav-link-absolute {
   pointer-events: none;
}

.main-nav-bar .nav-link .nav-link-dropdown-inner {
   display: flex;
   flex-direction: column;
   gap: 0.33em;
   box-shadow: 0px 2em 2em 0px rgba(var(--color-dark-rgb),0.1);
   background-color: var(--color-white);
   padding: calc(var(--copy-size-l) * 1.4) calc(var(--copy-size-m) * 2) calc(var(--copy-size-l) * 1.25) calc(var(--copy-size-m) * 1.5);
}

.main-nav-bar .nav-link .nav-link-dropdown [data-link-status="active"] span {
   font-weight: 400;
   color: var(--color-primary);
}

@media (hover: hover) { 
   @media screen and (min-width: 1025px) {

      .main-nav-bar .nav-link:hover .nav-link-dropdown {
         opacity: 1;
         visibility: visible;
         transform: translateY(0em) rotate(0.001deg);
      }
   }
}

/* Logo */

.main-nav-bar .logo {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
}

.main-nav-bar .logo svg {
   width: 7em;
}

.main-nav-bar .logo svg path {
   fill: var(--color-dark);
   transition: fill var(--animation-nav);
}

/* Theme */

/* Navbar white text */
.main-nav-bar .logo svg path {
   fill: var(--color-white);
}

.main-nav-bar .nav-link .nav-link-click span {
   color: var(--color-white);
}

@media (hover: hover) {
   @media screen and (min-width: 1025px) {
      .main-nav-bar .nav-link .nav-link-click:hover span {
         text-shadow: 0px var(--btn-shadow-distance) var(--color-white);
      }
   }
}

.main-nav-bar .nav-link .dots .dot {
   background-color: var(--color-white);
}

.main-nav-bar .nav-link .nav-link-click::before {
   background-color: var(--color-white);
}

.cheeseburger .bar,
.cheeseburger .bar::before {
   background-color: var(--color-white);
}

.main-nav-bar nav .deco-line {
   background-color: var(--color-border-active-light);
}

.main-nav-bar .border-bottom {
   background-color: var(--color-border-light);
}

/* Scrolling Started */

[data-scrolling-started="true"][data-page-transition="not-active"] .main-nav-bar {
   padding: calc(var(--gap) * 0) var(--container-padding);
}

[data-scrolling-started="true"][data-bg-nav="transparent"][data-page-transition="not-active"] .main-nav-bar .overlay-background {
   background-color: rgba(var(--color-black-rgb), 0.2);
   backdrop-filter: blur(0.5em);
   -webkit-backdrop-filter: blur(0.5em);
}

[data-scrolling-started="true"][data-bg-nav="white"][data-page-transition="not-active"] .main-nav-bar .overlay-background {
   background: rgba(255, 255, 255, 0.25);
   backdrop-filter: blur(20px);
   -webkit-backdrop-filter: blur(20px);
   isolation: isolate;
   will-change: backdrop-filter;
}

@media screen and (max-width: 1024px) {

   .main-nav-bar {
      padding: calc(var(--gap) * 0) var(--container-padding);
   }

   .main-nav-bar .logo {
      left: calc(var(--btn-height-small) + (var(--gap) * 0.5));
      top: 50%;
      transform: translateY(calc(-50% + 0.25em));
   }

   .main-nav-bar ul,
   .main-nav-bar nav .deco-line {
      display: none;
   }
}

/* ------------------------- Side Nav - Back -------------------------------------------------- */

.overlay.side-nav-back {
   opacity: 0;
   visibility: hidden;
   transition: all var(--animation-slow);
   pointer-events: all;
   backdrop-filter: blur(0.2em);
   -webkit-backdrop-filter: blur(0.2em);
   transition-delay: 0.3s;
   background-color: rgba(var(--color-black-rgb), 0.66);
}

[data-navigation-status="active"] .side-nav-back {
   transition-delay: 0s;
   opacity: 1;
   visibility: visible;
}

/* ------------------------- Side Nav -------------------------------------------------- */

.side-nav-box {
   position: relative;
   transform: translateX(-101%) rotate(0.001deg);
   transition: transform var(--animation-slow);
   pointer-events: all;
   transition-delay: 0.1s;
   min-width: 33.333%;
}

[data-navigation-status="active"] .side-nav-box {
   transform: translateX(0%) rotate(0.001deg);  
   transition-delay: 0s;
}

@media screen and (max-width: 1024px) {
   .side-nav-box {
      width: 100%;
      min-width: 100%;
      max-width: 100%;
   }
}

.side-nav {
   height: 100vh;
   box-sizing: border-box;
   background-color: var(--color-light);
   display: flex;
   flex-direction: column;
   padding-top: calc((var(--gap) * 1.1) + var(--btn-height-small));
   overflow-y: auto;
   z-index: 2;
   position: relative;
}

.side-nav .row-links-primary {
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: var(--gap) var(--container-padding);
}

@media screen and (min-height: 720px) {
   .side-nav .row-links-primary {
      padding-top: 3vh;
   }
}

.side-nav .row-links-primary .col-row-eyebrow {
   padding-bottom: 1em;
}

.side-nav .row-links-primary .col,
.section-footer .col-links-primary {
   width: 100%;
}

.side-nav .row-links-primary ul,
.section-footer .col-links-primary ul  {
   display: flex;
   flex-direction: column;
   width: 100%;
}

.side-nav .row-links-primary .nav-link,
.section-footer .col-links-primary .nav-link {
   display: flex;
   width: 100%;
}

.side-nav .row-links-primary .nav-link-click,
.section-footer .col-links-primary .nav-link-click {
   display: flex;
   width: 100%;
   padding: 0.25em 0;
   transition: all var(--animation-smooth);
   position: relative;
}

.side-nav .row-links-primary ul .nav-link span,
.section-footer .col-links-primary ul .nav-link span {
   font-family: 'regola-medium';
   font-weight: 400;
   font-size: calc(var(--title-size) * 0.4);
   line-height: 1.2;
   color: rgb(14, 14, 14);
}

.side-nav .row-links-primary .nav-link-click::before,
.section-footer .col-links-primary .nav-link-click::before {
   content: "";
   position: absolute;
   top: 50%;
   right: 0;
   opacity: 0;
   transform: translate(100%, -50%) rotate(0.001deg);
   width: 6px;
   height: 6px;
   background-color: rgba(var(--color-dark-rgb), 0.8);
   border-radius: 50%;
   transition: transform var(--animation-primary), opacity var(--animation-primary), background-color var(--animation-nav);
   pointer-events: none;
}

.side-nav .row-links-primary .nav-link[data-link-status="active"] .nav-link-click::before,
.section-footer .col-links-primary .nav-link[data-link-status="active"] .nav-link-click::before {
   transform: translate(0%, -50%) rotate(0.001deg);
   opacity: 1;
}

@media (hover: hover) { 
   @media screen and (min-width: 1025px) {

      .side-nav .row-links-primary ul:hover .nav-link .nav-link-click::before,
      .section-footer .col-links-primary ul:hover .nav-link .nav-link-click::before {
         transform: translate(100%, -50%) rotate(0.001deg);
         opacity: 0;
      }

      .side-nav .row-links-primary ul .nav-link .nav-link-click:hover::before,
      .section-footer .col-links-primary ul .nav-link .nav-link-click:hover::before {
         transform: translate(0%, -50%) rotate(0.001deg);
         opacity: 1;
      }
   }
}

.side-nav .row-links-secondary {
   position: relative;
   flex-shrink: 0;
   padding: var(--gap) var(--container-padding);
   gap: var(--gap);
}

.side-nav .row-links-secondary .col-row-more-link,
.section-footer .col-row-more-link {
   padding-top: 1.5em;
}

.side-nav .row-links-secondary .col-row-eyebrow {
   padding-bottom: 1em;
   padding-top: 0.5em;
}

.side-nav .row-links-secondary .col,
.section-footer .col-links-secondary .col-split {
   min-width: 10em;
   width: 100%;
}

.side-nav .row-links-secondary ul,
.section-footer .col-links-secondary ul {
   display: flex;
   flex-direction: column;
   gap: 0.33em;
}

.side-nav .row-rating {
   position: relative;
   flex-shrink: 0;
   padding: var(--gap) var(--container-padding);
}

.side-nav .row-rating .col {
   width: 100%;
}

.side-nav .row-rating .col-row-rating {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

@media screen and (max-width: 1024px) {

   .side-nav .row-links-primary ul .nav-link span {
      font-size: calc(var(--title-size) * 0.475);
   }

   .section-footer .col-links-primary ul .nav-link span {
      font-size: calc(var(--title-size) * 0.475);
   }

   .side-nav .row-links-primary {
      flex: 0 0 auto;
      justify-content: flex-start;
      padding-bottom: calc(var(--gap) * 3.5);
   }

   .side-nav .row-links-secondary {
      padding-top: calc(var(--gap) * 0.75);
   }

}

@media screen and (max-width: 1024px) and (min-height: 720px) {
   .side-nav .row-links-primary {
      padding-top: var(--gap);
   }
}

/* ------------------------- Side Nav - Images -------------------------------------------------- */

.side-nav-images {
   position: absolute;
   left: 100%;
   height: 100%;
   width: 66.666%;
   pointer-events: none;
}

[data-navigation-status="active"] .side-nav-images {
   transform: translateX(0%) rotate(0.001deg);  
}

.side-nav-images .single-nav-image {
   transition: transform var(--animation-slow);
   transform: translateX(-101%) rotate(0.001deg);
}

[data-navigation-status="active"] .side-nav-images .single-nav-image[data-nav-image-status="active"] {
   transform: translateX(0%) rotate(0.001deg);  
   z-index: 2;
}

@media screen and (max-width: 1024px) {
   .side-nav-images {
      display: none;
   }
}

/* ------------------------- Section - Footer -------------------------------------------------- */

.section-footer {
   padding: 0;
   margin-bottom: -1px;
}

/* Row Links */

.section-footer .row-links {
   position: relative;
   display: flex;
   flex-wrap: wrap;
}

.section-footer .row-links .col-row-eyebrow {
   padding-bottom: calc(var(--gap) * 1);
}

.section-footer .row-links .col-links-primary .col-row-eyebrow {
   padding-bottom: calc(var(--gap) * 0.75);
}

.section-footer .row-links .col {
   position: relative;
   width: 33.33333%;
   padding: calc(var(--gap) * 2.25) var(--container-padding)
}

/* Styling of Primary Links found at .side-nav */

.section-footer .row-links .col-links-primary {
   padding-bottom: calc(var(--gap) * 3.5);
}

/* Styling of Secondary Links found at .side-nav */

.section-footer .row-links .col-links-secondary {
   display: flex;
   flex-direction: row;
}

.section-footer .row-links .col-row-address {
   display: flex;
   flex-direction: column;
   gap: 0.33em;
}

.section-footer .row-links .col-row-external-links {
   display: flex;
   flex-direction: column;
   gap: 0.33em;
   padding-top: 1.5em;
}

/* Row Credits */

.section-footer .row-credits {
   position: relative;
   display: flex;
   flex-wrap: wrap;
}

.section-footer .row-credits .col {
   position: relative;
   width: 33.33333%;
   padding: calc(var(--gap) * 1) var(--container-padding);
   justify-content: center;
}

.section-footer .row-credits .col-row-reviews {
   display: flex;
   align-items: center;
   justify-content: flex-start;
}

.section-footer .row-credits .col-row-socials {
   display: flex;
   flex-direction: row;
   gap: 1.25em;
}

.section-footer .row-credits .col-copyright {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.section-footer .row-credits .col-copyright p.inactive {
   opacity: 0.6;
}

@media screen and (max-width: 1024px) {

   .section-footer .row-links .col,
   .section-footer .row-credits .col {
      width: 50%;
   }

   .section-footer .row-links .col.col-credentials,
   .section-footer .row-credits .col.col-copyright {
      width: 100%;
   }

   .section-footer .row-links .col.col-credentials .border-left,
   .section-footer .row-credits .col.col-copyright .border-left {
      width: 100%;
      height: 1px;
   }
}

@media screen and (max-width: 720px) {
   .section-footer .row-links .col,
   .section-footer .row-credits .col {
      width: 100%;
   }

   .section-footer .row-links .border-left,
   .section-footer .row-credits .border-left {
      width: 100%;
      height: 1px;
   }

   .section-footer .row-links .col {
      padding: calc(var(--gap) * 1.5) var(--container-padding);
   }
   
   .section-footer .row-links .col-links-primary {
      padding-top: calc(var(--gap) * 2);
      padding-bottom: calc(var(--gap) * 1.5);
   }

   .section-footer .row-credits .col-reviews {
      padding-top: calc(var(--gap) * 1.25);
   }

   .section-footer .row-credits .col-socials {
      margin-top: calc(var(--gap) * -1.25);
      padding-bottom: calc(var(--gap) * 1.25);
   }

   .section-footer .row-credits .col-socials .border-left {
      display: none;
   }
}


/* Built in Pop-up - Back */

.overlay.credits-back {
   opacity: 0;
   visibility: hidden;
   transition: all var(--animation-slow);
   pointer-events: all;
   backdrop-filter: blur(0.2em);
   -webkit-backdrop-filter: blur(0.2em);
   transition-delay: 0.3s;
   background-color: rgba(var(--color-black-rgb), 0.66);
}

[data-credits-status="active"] .overlay.credits-back {
   transition-delay: 0s;
   opacity: 1;
   visibility: visible;
}

/* Built in Pop-up - Box */

.credits-box {
   position: absolute;
   transition: all var(--animation-slow);
   pointer-events: all;
   top: 121%;
   left: 50%;
   transform: translate(-50%, 0%) rotate(0.001deg);
}

[data-credits-status="active"] .credits-box {
   top: 50%;
   transform: translate(-50%, -50%) rotate(0.001deg);
}

.credits-box .credits {
   background-color: var(--color-white);
   display: flex;
   flex-direction: column;
   z-index: 2;
   position: relative;
   width: calc(14em + (var(--gap) * 2.5));
}

.credits-box .close {
   top: calc(var(--gap) * 0.5);
   left: unset;
   right: calc(var(--gap) * 0.5);
   margin-left: 0;
   width: var(--btn-height-small);
   z-index: 4;
}

.credits-box .close .bar,
.credits-box .close .bar::before {
   background-color: var(--color-white);
}

.credits-box .credits-images {
   width: 100%;
   position: relative;
   background-color: var(--color-dark);
}

.credits-box .credits-images .overlay-gradient {
   background: linear-gradient(199deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 50%);
   z-index: 3;
}

.credits-box .credits-images::before {
   content: "";
   display: block;
   padding-top: 60%;
}

.credits-box .credits-images .single-credits-image {
   opacity: 0;
   z-index: 0;
}

.credits-box .credits-images .single-credits-image.prev-active {
   opacity: 0;
   z-index: 2;
   transition: opacity 0.4s ease-in-out;
}

.credits-box .credits-images .single-credits-image.active {
   opacity: 1;
   z-index: 1;
}

.credits-box .credits-title {
   display: flex;
   padding: var(--gap);
   padding-bottom: 0;
}

.credits-box .credits-names {
   display: flex;
   flex-wrap: wrap;
   gap: calc(var(--gap) * 0.5);
   padding: var(--gap);
   padding-top: calc(var(--gap) * 0.75);
}

.credits-box .credits-names .single-name {
   display: flex;
   flex-direction: column;
   gap: 0.4em;
   width: calc(50% - (var(--gap) * 0.25));
}

@media screen and (max-width: 540px) {
   .credits-box .credits {
      max-width: calc(100vw - (var(--gap) * 2));
   }
}

/* Footer Book Now - Box */

.section-footer .row-book {
   position: relative;
   overflow: hidden;
   width: 100%;
}

.section-footer .row-book .col {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   padding: var(--section-padding) 0;
}

/* ------------------------- Whatsapp Box -------------------------------------------------- */

.overlay.whatsapp-back {
   opacity: 0;
   visibility: hidden;
   transition: all var(--animation-slow);
   pointer-events: all;
   backdrop-filter: blur(0.2em);
   -webkit-backdrop-filter: blur(0.2em);
   transition-delay: 0.3s;
   background-color: rgba(var(--color-black-rgb), 0.66);
}

[data-whatsapp-status="active"] .overlay.whatsapp-back {
   transition-delay: 0s;
   opacity: 1;
   visibility: visible;
}

/* Built in Pop-up - Box */

.whatsapp-box {
   position: absolute;
   transition: all var(--animation-slow);
   pointer-events: all;
   top: 120%;
   left: 50%;
   transform: translate(-50%, 0%) rotate(0.001deg);
   display: none;
}

[data-whatsapp-status="active"] .whatsapp-box {
   top: 50%;
   transform: translate(-50%, -50%) rotate(0.001deg);
}

.whatsapp-box .whatsapp {
   background-color: var(--color-white);
   display: flex;
   flex-direction: column;
   z-index: 2;
   position: relative;
   width: 15em;
   padding: 2em 1.5em;
   text-align: center;
}

.whatsapp-box .close {
   top: calc(var(--gap) * 0.33);
   left: unset;
   right: calc(var(--gap) * 0.33);
   margin-left: 0;
   width: var(--btn-height-small);
   z-index: 4;
}

.whatsapp-box .whatsapp-qr {
   width: 100%;
   position: relative;
   padding: 1em 2.25em 1.75em 2.25em;
}

.whatsapp-box .whatsapp-qr svg {
   width: 100%;
}

.whatsapp-box .whatsapp-text {
   padding-top: 0.66em;
   padding-bottom: 1em;
}

.whatsapp-box .whatsapp-text p {
   line-height: 1.3;
}

.whatsapp-box .whatsapp-btn {
   display: flex;
   justify-content: center;
}

/* WhatsApp Floating Button */

.floating-whatsapp-btn {
   position: fixed;
   right: var(--gap);
   bottom: var(--gap);
   background-color: var(--color-primary);
   border-radius: 50%;
   width: calc(var(--btn-height) * 1);
   height:calc(var(--btn-height) * 1);
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   pointer-events: all;
   overflow: hidden;
   z-index: 100;
}

.floating-whatsapp-btn svg {
   width: 40%;
   transition: opacity var(--animation-primary);
}

.floating-whatsapp-btn svg path {
   fill: var(--color-lightgray);
}

@media (hover: hover) { 
   @media screen and (min-width: 1025px) {

      .whatsapp-box {
         display: flex;
      }

      .floating-whatsapp-btn:hover svg {
         opacity: 0.75;
      }
   }
}

/* WhatsApp Link (hidden on Desktop) */

.whatsapp-link-mobile {
   display: none;
}

@media screen and (max-width: 720px) {

   .whatsapp-link-mobile {
      display: block;
   }      

   .whatsapp-link-desktop {
      display: none;
   }
}

